In [192]:
import pandas as pd
from sklearn import linear_model
import numpy as np
import re

# Migration

In [193]:
# migr = immigration
migr_suffix = 'COMPLET,TOTAL,NR,T,'
gdp_suffix = 'CLV10_EUR_HAB,B1GQ,'
unempl_suffix = 'TOTAL,PC_ACT,T,'

dict_countries = {
    'AL': 'Albania',#
    'AT': 'Austria',
    'BA': 'Bosnia and Herzegovina',#
    'BE': 'Belgium',
    'BG': 'Bulgaria',
    'CH': 'Switzerland',
    'CY': 'Cyprus',
    'CZ': 'Czechia',
    'DE': 'Germany',
    'DK': 'Denmark',
    'EE': 'Estonia',
    'EL': 'Greece',
    'ES': 'Spain',
    'FI': 'Finland',
    'FR': 'France',
    'HR': 'Croatia',
    'HU': 'Hungary',
    'IE': 'Ireland',
    'IS': 'Iceland',
    'IT': 'Italy',
    'LI': 'Liechtenstein',
    'LT': 'Latvia',
    'LU': 'Luxembourg',
    'LV': 'Latvia',
    'ME': 'Montenegro',
    'MK': 'North Macedonia',#
    'MT': 'Malta',
    'NL': 'Netherlands',
    'NO': 'Norway',
    'PL': 'Poland',
    'PT': 'Portugal',
    'RO': 'Romania',
    'RS': 'Serbia',#
    'SE': 'Sweden',
    'SI': 'Slovenia',
    'SK': 'Slovakia',
    'TR': 'Turkey',
    'UK': 'United Kingdom'
}

def translate_countries(shortcut):
    shortcut_cut = shortcut.replace(suffix, '')
    return dict_countries[shortcut_cut]

In [194]:
migr = pd.read_csv('immigration.tsv', sep='\t')

In [195]:
migr.head()

,"agedef,age,unit,sex,geo\time",2017,2016,2015,2014,2013,2012,2011,2010,2009,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,"COMPLET,TOTAL,NR,F,AT",52863,59191,69345,52494,47432,42524,38007,33863,33019,...,41346,33793,32392,32883,:,:,:,:,:,:
1,"COMPLET,TOTAL,NR,F,BE",58613,57056,63217,57681,57203,60747,68912 b,64372 b,:,...,41928,38156,29363,30882,31610,32834,30297,31583,31406,29563
2,"COMPLET,TOTAL,NR,F,BG",13126 p,10300,11730,11903 p,8074 p,5921 bp,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"COMPLET,TOTAL,NR,F,CH",68334,71356,73714,75173,76841,70586,70755 b,76513,76124,...,53754,47858,46220,48649,58066,64892,71620,75641,77819,72508
4,"COMPLET,TOTAL,NR,F,CY",11316,8829,8688,6448,6675,11681,12707,11494,13026 b,...,:,:,:,:,:,:,:,:,:,:

In [196]:
migr.rename(columns={'agedef,age,unit,sex,geo\\time':'Country'}, inplace=True)

In [197]:
suffix = migr_suffix
migr = migr[migr.Country.str.startswith(suffix)]
migr.head()

,Country,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
64,"COMPLET,TOTAL,NR,T,AT",111801,129509,166323,116262,101866,91557,82230,70978,69295,...,86710,72723,70122,69930,:,:,:,:,:,:
65,"COMPLET,TOTAL,NR,T,BE",126703,123702,146626,123158,120078,129477,147377 b,135281 b,:,...,91624,83812,58849,61522,62950,66147,63749,66763,67460,62662
66,"COMPLET,TOTAL,NR,T,BG",25597 p,21241,25223 p,26615 p,18570 p,14103 bp,:,:,:,...,:,:,:,:,:,:,:,:,:,:
67,"COMPLET,TOTAL,NR,T,CH",143377,149305,153627,156282,160157,149051,148799 b,161778,160623,...,107953,95955,91687,97591,113967,130188,144537,157190,164773,154244
68,"COMPLET,TOTAL,NR,T,CY",21306,17391,15183,9212,13149,17476,23037,20206,22581 b,...,8524,8801,:,:,:,:,:,:,:,:

In [198]:
migr['Country'] = migr['Country'].apply(translate_countries)

In [199]:
migr.sort_values('Country', inplace=True)

In [200]:
cols = list(migr.columns)
cols = [col.replace(' ', '') for col in cols]
migr.columns = cols

In [201]:
def remove_letters_cast_to_int(item):
    return re.sub('\D', '', item)

for col in cols:
    if col != 'Country':
        migr[col] = migr[col].apply(remove_letters_cast_to_int)

In [241]:
migr

,Country,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
64,Austria,111801,129509,166323,116262,101866,91557,82230,70978,69295,...,86710,72723,70122,69930,,,,,,
65,Belgium,126703,123702,146626,123158,120078,129477,147377,135281,,...,91624,83812,58849,61522,62950,66147,63749,66763,67460,62662
66,Bulgaria,25597,21241,25223,26615,18570,14103,,,,...,,,,,,,,,,
77,Croatia,15553,13985,11706,10638,10378,8959,8534,8846,13213,...,32910,51784,52343,44596,42026,33426,57702,48324,10050,
68,Cyprus,21306,17391,15183,9212,13149,17476,23037,20206,22581,...,8524,8801,,,,,,,,
69,Czechia,51847,64083,29602,29897,30124,34337,27114,48317,75620,...,,,12880,10857,10540,,,,,
71,Denmark,68579,74383,78492,68388,60312,54409,52833,52236,51800,...,50236,51372,50105,54445,63187,44961,43400,43377,43567,40715
72,Estonia,17616,14822,15413,3904,4109,2639,3709,2810,3884,...,,,,,,,,,,
75,Finland,31797,34905,28746,31507,31941,31278,29481,25636,26699,...,14744,14192,13564,13294,12222,11611,14795,14554,19001,13558
76,France,369964,378115,364221,340383,338752,327431,319816,307111,296970,...,,,,,,,,,,
70,Germany,917109,1029852,1543848,884893,692713,592175,489422,404055,346216,...,874023,802456,840633,959691,1096048,1082553,1277408,1502198,1198978,1256250
73,Greece,112247,116867,64446,59013,57946,58200,60089,60462,58613,...,84695,116411,113477,95585,98989,86959,107462,110334,151978,
78,Hungary,68070,53618,58344,54581,38968,33702,28018,25519,27894,...,21422,17269,14442,14984,15435,,,,,
80,Iceland,12116,8710,5635,5368,6406,4960,4073,3948,3921,...,4785,4562,3990,3664,2867,2676,2698,2959,3989,3166
79,Ireland,78499,85185,80792,73519,65539,61324,57292,52339,50604,...,51675,48175,45625,39000,38000,30000,35000,41000,33000,33000
81,Italy,343440,300823,280078,277631,307454,350772,385793,458856,442940,...,185052,156885,162857,171967,96710,99105,100401,113916,126935,166754
83,Latvia,20368,20162,22130,24294,22011,19843,15685,5213,6487,...,2679,2706,2536,3025,2020,1664,2850,6640,11828,14744
85,Latvia,9916,8345,9479,10365,8299,13303,10234,4011,3731,...,1813,3123,2913,2747,2799,3046,4114,6199,14684,
82,Liechtenstein,645,607,657,615,696,671,650,591,584,...,,,,,,,,,,
84,Luxembourg,24379,22888,23803,22332,21098,20478,20268,16962,15751,...,12794,11630,10423,10027,10337,10145,10069,10697,10913,10281
86,Malta,21676,17051,16936,14454,10897,8256,5465,4275,6161,...,,,,,,,,,,
87,Netherlands,189646,189232,166872,145323,129428,124566,130118,126776,122917,...,119151,122407,109860,108749,96099,92143,119154,116926,120249,117350
88,Norway,53351,61460,60816,66903,68313,69908,70337,69214,55953,...,41841,36704,31957,,25678,26911,31711,26743,26283,25494
89,Poland,209353,208302,218147,222275,220311,217546,157059,155131,189166,...,7525,8916,8426,8186,8121,6907,5924,6512,5040,2626
90,Portugal,36639,29925,29896,19516,17554,14606,19667,27575,32307,...,68297,56788,59875,51656,42702,38825,27989,16202,4507,
91,Romania,177435,137455,132795,136035,153646,167266,147685,149885,135844,...,,,,,,,,,,
94,Slovakia,7188,7686,6997,5357,5149,5419,4829,5272,6346,...,2072,2052,2303,2477,3055,4922,9106,2106,1752,944
93,Slovenia,18808,16623,15420,13846,13871,15022,14083,15416,30296,...,4941,4603,7889,9495,5879,1919,2745,3461,5989,7075
74,Spain,532132,414746,342114,305454,280772,304053,371331,360705,392962,...,127365,81227,57877,29895,36092,34123,33026,38882,24320,33966
92,Sweden,144489,163005,134240,126966,115845,103059,96467,98801,102280,...,49839,49391,44818,39895,45887,83598,61872,45348,49731,60048
67,Switzerland,143377,149305,153627,156282,160157,149051,148799,161778,160623,...,107953,95955,91687,97591,113967,130188,144537,157190,164773,154244
95,United Kingdom,644209,588993,631452,631991,526046,498040,566044,590950,566514,...,354077,332390,,,,,,,,

# GDP

In [203]:
gdp = pd.read_csv('gdp.tsv', sep='\t')

In [204]:
gdp.head()

,"unit,na_item,geo\time",2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975
0,"CLV10_EUR_HAB,B1GQ,AL",:,3670 p,3530,3410,3330,3260,3230,3180,3090,...,:,:,:,:,:,:,:,:,:,:
1,"CLV10_EUR_HAB,B1GQ,AT",37810,37090,36430,36140,36130,36180,36390,36300,35390,...,:,:,:,:,:,:,:,:,:,:
2,"CLV10_EUR_HAB,B1GQ,BE",35670,35330,34810,34470,33960,33590,33610,33590,33330,...,:,:,:,:,:,:,:,:,:,:
3,"CLV10_EUR_HAB,B1GQ,BG",6550 p,6310 p,6050 p,5790 p,5530 p,5400 p,5350 p,5300,5050,...,:,:,:,:,:,:,:,:,:,:
4,"CLV10_EUR_HAB,B1GQ,CH",59870 p,58700 p,58200,57840,57730,57040,56660,56690,56150,...,:,:,:,:,:,:,:,:,:,:

In [205]:
gdp.rename(columns={'unit,na_item,geo\\time':'Country'}, inplace=True)
gdp.head()

,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975
0,"CLV10_EUR_HAB,B1GQ,AL",:,3670 p,3530,3410,3330,3260,3230,3180,3090,...,:,:,:,:,:,:,:,:,:,:
1,"CLV10_EUR_HAB,B1GQ,AT",37810,37090,36430,36140,36130,36180,36390,36300,35390,...,:,:,:,:,:,:,:,:,:,:
2,"CLV10_EUR_HAB,B1GQ,BE",35670,35330,34810,34470,33960,33590,33610,33590,33330,...,:,:,:,:,:,:,:,:,:,:
3,"CLV10_EUR_HAB,B1GQ,BG",6550 p,6310 p,6050 p,5790 p,5530 p,5400 p,5350 p,5300,5050,...,:,:,:,:,:,:,:,:,:,:
4,"CLV10_EUR_HAB,B1GQ,CH",59870 p,58700 p,58200,57840,57730,57040,56660,56690,56150,...,:,:,:,:,:,:,:,:,:,:

In [206]:
suffix = gdp_suffix
gdp = gdp[gdp.Country.str.startswith(suffix)]
gdp = gdp[~gdp['Country'].str.endswith('EA')]
gdp = gdp[~gdp['Country'].str.endswith('EA12')]
gdp = gdp[~gdp['Country'].str.endswith('EA19')]
gdp = gdp[~gdp['Country'].str.endswith('EU15')]
gdp = gdp[~gdp['Country'].str.endswith('2019')]
gdp = gdp[~gdp['Country'].str.endswith('EU28')]
gdp

,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975
0,"CLV10_EUR_HAB,B1GQ,AL",:,3670 p,3530,3410,3330,3260,3230,3180,3090,...,:,:,:,:,:,:,:,:,:,:
1,"CLV10_EUR_HAB,B1GQ,AT",37810,37090,36430,36140,36130,36180,36390,36300,35390,...,:,:,:,:,:,:,:,:,:,:
2,"CLV10_EUR_HAB,B1GQ,BE",35670,35330,34810,34470,33960,33590,33610,33590,33330,...,:,:,:,:,:,:,:,:,:,:
3,"CLV10_EUR_HAB,B1GQ,BG",6550 p,6310 p,6050 p,5790 p,5530 p,5400 p,5350 p,5300,5050,...,:,:,:,:,:,:,:,:,:,:
4,"CLV10_EUR_HAB,B1GQ,CH",59870 p,58700 p,58200,57840,57730,57040,56660,56690,56150,...,:,:,:,:,:,:,:,:,:,:
5,"CLV10_EUR_HAB,B1GQ,CY",23770 p,23120,22360,21040,20240,20400,21780,22900,23400,...,:,:,:,:,:,:,:,:,:,:
6,"CLV10_EUR_HAB,B1GQ,CZ",17640,17200,16520,16160,15370,14980,15060,15200,14900,...,:,:,:,:,:,:,:,:,:,:
7,"CLV10_EUR_HAB,B1GQ,DE",35860,35420,34700,34220,33930,33330,33280,33200,31940,...,:,:,:,:,:,:,:,:,:,:
8,"CLV10_EUR_HAB,B1GQ,DK",48260,47360,46720,45630,44890,44410,44170,44240,43840,...,30310,29080,28320,27290,27470,27630,26670,26170,25770,24390
12,"CLV10_EUR_HAB,B1GQ,EE",15090,14440,13650,13330,13060,12640,12430,12010,11150,...,:,:,:,:,:,:,:,:,:,:
13,"CLV10_EUR_HAB,B1GQ,EL",17790 p,17410 p,17110 p,17080 p,17040 p,16800 p,17240 p,18500 p,20320,...,:,:,:,:,:,:,:,:,:,:
14,"CLV10_EUR_HAB,B1GQ,ES",24880 p,24410 p,23760,23080,22210,21840,22080,22770,23040,...,:,:,:,:,:,:,:,:,:,:
18,"CLV10_EUR_HAB,B1GQ,FI",36820,36270,35280,34470,34390,34660,35140,35810,35080,...,21040,20490,20000,19510,19350,:,:,:,:,:
19,"CLV10_EUR_HAB,B1GQ,FR",32830 p,32370 p,31770,31540,31320,31170,31160,31210,30690,...,21140,20930,20780,20400,20300,20080,19480,18820,18270,17580
20,"CLV10_EUR_HAB,B1GQ,HR",11940 p,11500,11050,10590,10290,10260,10280,10480,10480,...,:,:,:,:,:,:,:,:,:,:
21,"CLV10_EUR_HAB,B1GQ,HU",12560,11930,11410,11130,10690,10230,10010,10110,9900,...,:,:,:,:,:,:,:,:,:,:
22,"CLV10_EUR_HAB,B1GQ,IE",57960,54240,50710,49470,39890,37010,36690,36760,36790,...,:,:,:,:,:,:,:,:,:,:
23,"CLV10_EUR_HAB,B1GQ,IS",39280,38490,37750,35890,34620,34290,33250,33000,32490,...,:,:,:,:,:,:,:,:,:,:
24,"CLV10_EUR_HAB,B1GQ,IT",26760,26500,26010,25640,25420,25480,26090,27020,26930,...,:,:,:,:,:,:,:,:,:,:
25,"CLV10_EUR_HAB,B1GQ,LT",13310,12720,12040,11590,11250,10780,10300,9790,9030 b,...,:,:,:,:,:,:,:,:,:,:
26,"CLV10_EUR_HAB,B1GQ,LU",83470,82550,82880,81300,79490,78030,77240,79310,79160,...,:,:,:,:,:,:,:,:,:,:
27,"CLV10_EUR_HAB,B1GQ,LV",12180,11560,11030,10740,10310,10030,9700,9200,8500,...,:,:,:,:,:,:,:,:,:,:
28,"CLV10_EUR_HAB,B1GQ,ME",6230,5920,5660,5500,5320,5230,5060,5200,5050,...,:,:,:,:,:,:,:,:,:,:
29,"CLV10_EUR_HAB,B1GQ,MK",:,:,3980 e,3870 e,3740 e,3610 e,3510 e,3530 e,3460 e,...,:,:,:,:,:,:,:,:,:,:
30,"CLV10_EUR_HAB,B1GQ,MT",21630,20850,20090,19450,17970,16870,16360,16060,15920,...,:,:,:,:,:,:,:,:,:,:
31,"CLV10_EUR_HAB,B1GQ,NL",41540 p,40730 p,39810,39170,38580,38180,38340,38880,38470,...,:,:,:,:,:,:,:,:,:,:
32,"CLV10_EUR_HAB,B1GQ,NO",69530,69130,68090,67950,67340,66780,66900,66010,66220,...,40590,38380,37030,37080,36620,35140,33780,32650,31480,29890
33,"CLV10_EUR_HAB,B1GQ,PL",12430,11820,11260,10920,10510,10170,10020,9860,9390,...,:,:,:,:,:,:,:,:,:,:
34,"CLV10_EUR_HAB,B1GQ,PT",18110 p,17650,17010,16620,16260,16050,16110,16720,16990,...,:,:,:,:,:,:,:,:,:,:
35,"CLV10_EUR_HAB,B1GQ,RO",8700 p,8320,7720,7330,7020,6760,6510,6350,6190,...,:,:,:,:,:,:,:,:,:,:
36,"CLV10_EUR_HAB,B1GQ,RS",5190,4950,4820,4640,4540,4590,4440,4450,4330,...,:,:,:,:,:,:,:,:,:,:
37,"CLV10_EUR_HAB,B1GQ,SE",43850,43350,42910,42430,41060,40360,40270,40820,39920,...,:,:,:,:,:,:,:,:,:,:
38,"CLV10_EUR_HAB,B1GQ,SI",20170,19430,18540,17990,17620,17160,17360,17870,17750,...,:,:,:,:,:,:,:,:,:,:
39,"CLV10_EUR_HAB,B1GQ,SK",15560,14970,14550,14270,13620,13270,13200,12980,12540,...,:,:,:,:,:,:,:,:,:,:
40,"CLV10_EUR_HAB,B1GQ,TR",11500,11300,10700,10500,10000,9600,9000,8700,7900,...,:,:,:,:,:,:,:,:,:,:
41,"CLV10_EUR_HAB,B1GQ,UK",32710,32460,32050,31700,31220,30660,30200,29960,29750,...,:,:,:,:,:,:,:,:,:,:

In [207]:
gdp['Country'] = gdp['Country'].apply(translate_countries)
gdp.head()

,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975
0,Albania,:,3670 p,3530,3410,3330,3260,3230,3180,3090,...,:,:,:,:,:,:,:,:,:,:
1,Austria,37810,37090,36430,36140,36130,36180,36390,36300,35390,...,:,:,:,:,:,:,:,:,:,:
2,Belgium,35670,35330,34810,34470,33960,33590,33610,33590,33330,...,:,:,:,:,:,:,:,:,:,:
3,Bulgaria,6550 p,6310 p,6050 p,5790 p,5530 p,5400 p,5350 p,5300,5050,...,:,:,:,:,:,:,:,:,:,:
4,Switzerland,59870 p,58700 p,58200,57840,57730,57040,56660,56690,56150,...,:,:,:,:,:,:,:,:,:,:

In [208]:
gdp.sort_values('Country', inplace=True)

In [209]:
cols = list(gdp.columns)
cols = [col.replace(' ', '') for col in cols]
gdp.columns = cols

In [210]:
def remove_letters_cast_to_int(item):
    return re.sub('\D', '', item)

for col in cols:
    if col != 'Country':
        gdp[col] = gdp[col].apply(remove_letters_cast_to_int)

In [211]:
gdp

,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975
0,Albania,,3670,3530,3410,3330,3260,3230,3180,3090,...,,,,,,,,,,
1,Austria,37810,37090,36430,36140,36130,36180,36390,36300,35390,...,,,,,,,,,,
2,Belgium,35670,35330,34810,34470,33960,33590,33610,33590,33330,...,,,,,,,,,,
3,Bulgaria,6550,6310,6050,5790,5530,5400,5350,5300,5050,...,,,,,,,,,,
20,Croatia,11940,11500,11050,10590,10290,10260,10280,10480,10480,...,,,,,,,,,,
5,Cyprus,23770,23120,22360,21040,20240,20400,21780,22900,23400,...,,,,,,,,,,
6,Czechia,17640,17200,16520,16160,15370,14980,15060,15200,14900,...,,,,,,,,,,
8,Denmark,48260,47360,46720,45630,44890,44410,44170,44240,43840,...,30310,29080,28320,27290,27470,27630,26670,26170,25770,24390
12,Estonia,15090,14440,13650,13330,13060,12640,12430,12010,11150,...,,,,,,,,,,
18,Finland,36820,36270,35280,34470,34390,34660,35140,35810,35080,...,21040,20490,20000,19510,19350,,,,,
19,France,32830,32370,31770,31540,31320,31170,31160,31210,30690,...,21140,20930,20780,20400,20300,20080,19480,18820,18270,17580
7,Germany,35860,35420,34700,34220,33930,33330,33280,33200,31940,...,,,,,,,,,,
13,Greece,17790,17410,17110,17080,17040,16800,17240,18500,20320,...,,,,,,,,,,
21,Hungary,12560,11930,11410,11130,10690,10230,10010,10110,9900,...,,,,,,,,,,
23,Iceland,39280,38490,37750,35890,34620,34290,33250,33000,32490,...,,,,,,,,,,
22,Ireland,57960,54240,50710,49470,39890,37010,36690,36760,36790,...,,,,,,,,,,
24,Italy,26760,26500,26010,25640,25420,25480,26090,27020,26930,...,,,,,,,,,,
25,Latvia,13310,12720,12040,11590,11250,10780,10300,9790,9030,...,,,,,,,,,,
27,Latvia,12180,11560,11030,10740,10310,10030,9700,9200,8500,...,,,,,,,,,,
26,Luxembourg,83470,82550,82880,81300,79490,78030,77240,79310,79160,...,,,,,,,,,,
30,Malta,21630,20850,20090,19450,17970,16870,16360,16060,15920,...,,,,,,,,,,
28,Montenegro,6230,5920,5660,5500,5320,5230,5060,5200,5050,...,,,,,,,,,,
31,Netherlands,41540,40730,39810,39170,38580,38180,38340,38880,38470,...,,,,,,,,,,
29,North Macedonia,,,3980,3870,3740,3610,3510,3530,3460,...,,,,,,,,,,
32,Norway,69530,69130,68090,67950,67340,66780,66900,66010,66220,...,40590,38380,37030,37080,36620,35140,33780,32650,31480,29890
33,Poland,12430,11820,11260,10920,10510,10170,10020,9860,9390,...,,,,,,,,,,
34,Portugal,18110,17650,17010,16620,16260,16050,16110,16720,16990,...,,,,,,,,,,
35,Romania,8700,8320,7720,7330,7020,6760,6510,6350,6190,...,,,,,,,,,,
36,Serbia,5190,4950,4820,4640,4540,4590,4440,4450,4330,...,,,,,,,,,,
39,Slovakia,15560,14970,14550,14270,13620,13270,13200,12980,12540,...,,,,,,,,,,
38,Slovenia,20170,19430,18540,17990,17620,17160,17360,17870,17750,...,,,,,,,,,,
14,Spain,24880,24410,23760,23080,22210,21840,22080,22770,23040,...,,,,,,,,,,
37,Sweden,43850,43350,42910,42430,41060,40360,40270,40820,39920,...,,,,,,,,,,
4,Switzerland,59870,58700,58200,57840,57730,57040,56660,56690,56150,...,,,,,,,,,,
40,Turkey,11500,11300,10700,10500,10000,9600,9000,8700,7900,...,,,,,,,,,,
41,United Kingdom,32710,32460,32050,31700,31220,30660,30200,29960,29750,...,,,,,,,,,,

In [234]:
gdp.loc[:, '2018':'2000']

,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,,3670,3530,3410,3330,3260,3230,3180,3090,2960,2850,2630,2460,2310,2180,2060,1940,1850,1700
1,37810,37090,36430,36140,36130,36180,36390,36300,35390,34830,36280,35870,34700,33710,33200,32520,32360,31990,31710
2,35670,35330,34810,34470,33960,33590,33610,33590,33330,32700,33640,33760,32800,32200,31640,30680,30490,30110,29890
3,6550,6310,6050,5790,5530,5400,5350,5300,5050,4990,5140,4820,4500,4190,3890,3640,3440,3230,3010
20,11940,11500,11050,10590,10290,10260,10280,10480,10480,10630,11460,11260,10700,10200,9790,9400,8890,8480,7840
5,23770,23120,22360,21040,20240,20400,21780,22900,23400,23550,24680,24420,23740,23050,22300,21520,21230,20700,20130
6,17640,17200,16520,16160,15370,14980,15060,15200,14900,14610,15430,15190,14460,13570,12780,12180,11760,11540,11170
8,48260,47360,46720,45630,44890,44410,44170,44240,43840,43220,45700,46210,45990,44400,43520,42490,42430,42390,42190
12,15090,14440,13650,13330,13060,12640,12430,12010,11150,10830,12640,13270,12260,11110,10090,9390,8680,8070,7570
18,36820,36270,35280,34470,34390,34660,35140,35810,35080,34150,37330,37210,35490,34250,33440,32250,31690,31230,30510
19,32830,32370,31770,31540,31320,31170,31160,31210,30690,30250,31310,31400,30850,30320,30050,29440,29410,29290,28930
7,35860,35420,34700,34220,33930,33330,33280,33200,31940,30580,32320,31920,30930,29730,29470,29090,29290,29370,28900
13,17790,17410,17110,17080,17040,16800,17240,18500,20320,21530,22560,22690,22030,20910,20850,19890,18850,18210,17570
21,12560,11930,11410,11130,10690,10230,10010,10110,9900,9810,10500,10370,10330,9910,9490,9040,8660,8240,7900
23,39280,38490,37750,35890,34620,34290,33250,33000,32490,33520,35940,36140,33820,33040,31420,29420,28940,28990,28290
22,57960,54240,50710,49470,39890,37010,36690,36760,36790,36300,38600,41300,40400,39470,38190,36420,35930,34520,33310
24,26760,26500,26010,25640,25420,25480,26090,27020,26930,26590,28230,28730,28480,28090,28030,27850,27960,27950,27430
25,13310,12720,12040,11590,11250,10780,10300,9790,9030,8710,10110,9750,8670,7950,7260,6740,6050,5620,5230
27,12180,11560,11030,10740,10310,10030,9700,9200,8500,8710,9990,10220,9220,8170,7290,6660,6080,5610,5210
26,83470,82550,82880,81300,79490,78030,77240,79310,79160,76900,81880,84420,79190,76460,75270,73650,73380,71440,70460
30,21630,20850,20090,19450,17970,16870,16360,16060,15920,15450,15960,15550,15000,14790,14340,14370,14110,13800,13830
28,6230,5920,5660,5500,5320,5230,5060,5200,5050,4920,5230,4890,,,,,,,
31,41540,40730,39810,39170,38580,38180,38340,38880,38470,38160,39810,39120,37780,36570,35920,35350,35460,35610,35060
29,,,3980,3870,3740,3610,3510,3530,3460,3350,3370,3200,3010,2870,2750,2630,2580,2530,2620
32,69530,69130,68090,67950,67340,66780,66900,66010,66220,66580,68610,69140,67830,66780,65510,63380,63190,62620,61660
33,12430,11820,11260,10920,10510,10170,10020,9860,9390,9070,8910,8550,7980,7510,7250,6900,6650,6520,6440
34,18110,17650,17010,16620,16260,16050,16110,16720,16990,16710,17260,17230,16840,16600,16500,16250,16470,16430,16230
35,8700,8320,7720,7330,7020,6760,6510,6350,6190,6410,6730,6050,5560,5120,4860,4370,4250,,
36,5190,4950,4820,4640,4540,4590,4440,4450,4330,4280,4380,4130,3860,3660,3460,3160,3020,2840,2650
39,15560,14970,14550,14270,13620,13270,13200,12980,12540,11890,12600,11960,10800,9960,9350,8890,8420,8060,7780
38,20170,19430,18540,17990,17620,17160,17360,17870,17750,17570,19190,18570,17460,16570,15990,15330,14900,14410,13980
14,24880,24410,23760,23080,22210,21840,22080,22770,23040,23100,24200,24380,24000,23420,23020,22680,22430,22190,21460
37,43850,43350,42910,42430,41060,40360,40270,40820,39920,37910,39930,40340,39290,37770,36860,35470,34820,34180,33780
4,59870,58700,58200,57840,57730,57040,56660,56690,56150,55080,57030,56490,54720,52920,51630,50580,50930,51220,50770
40,11500,11300,10700,10500,10000,9600,9000,8700,7900,7400,7900,7900,7700,7200,6700,6200,5900,5700,6100
41,32710,32460,32050,31700,31220,30660,30200,29960,29750,29420,30940,31280,30790,30160,29460,28920,28130,27610,26920

# Unemployment

In [212]:
unempl = pd.read_csv('unemployment.tsv', sep='\t')
unempl.head()

,"age,unit,sex,geo\time",2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1992,1991,1990,1989,1988,1987,1986,1985,1984,1983
0,"TOTAL,PC_ACT,F,AT",4.7,5.0,5.6,5.3,5.4,5.3,4.8,4.6,4.6,...,:,:,:,:,:,:,:,:,:,:
1,"TOTAL,PC_ACT,F,BE",5.6,7.1 b,7.6,7.8,7.9,8.2,7.4,7.2,8.5,...,10.0,9.8,10.4,11.7,13.7,15.6,:,:,:,:
2,"TOTAL,PC_ACT,F,BG",4.7,6.0,7.0,8.4,10.4,11.8,10.8,10.1,9.6 d,...,:,:,:,:,:,:,:,:,:,:
3,"TOTAL,PC_ACT,F,CY",8.8,11.3,13.4,14.8,15.1,15.2,11.1,7.7,6.4,...,:,:,:,:,:,:,:,:,:,:
4,"TOTAL,PC_ACT,F,CZ",2.8,3.6,4.7,6.1,7.4,8.3,8.2,7.9,8.5,...,:,:,:,:,:,:,:,:,:,:

In [213]:
unempl.rename(columns={'age,unit,sex,geo\\time':'Country'}, inplace=True)
unempl.head()

,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1992,1991,1990,1989,1988,1987,1986,1985,1984,1983
0,"TOTAL,PC_ACT,F,AT",4.7,5.0,5.6,5.3,5.4,5.3,4.8,4.6,4.6,...,:,:,:,:,:,:,:,:,:,:
1,"TOTAL,PC_ACT,F,BE",5.6,7.1 b,7.6,7.8,7.9,8.2,7.4,7.2,8.5,...,10.0,9.8,10.4,11.7,13.7,15.6,:,:,:,:
2,"TOTAL,PC_ACT,F,BG",4.7,6.0,7.0,8.4,10.4,11.8,10.8,10.1,9.6 d,...,:,:,:,:,:,:,:,:,:,:
3,"TOTAL,PC_ACT,F,CY",8.8,11.3,13.4,14.8,15.1,15.2,11.1,7.7,6.4,...,:,:,:,:,:,:,:,:,:,:
4,"TOTAL,PC_ACT,F,CZ",2.8,3.6,4.7,6.1,7.4,8.3,8.2,7.9,8.5,...,:,:,:,:,:,:,:,:,:,:

In [214]:
suffix = unempl_suffix
unempl = unempl[unempl.Country.str.startswith(suffix)]
unempl = unempl[~unempl['Country'].str.endswith('EA')]
unempl = unempl[~unempl['Country'].str.endswith('EA18')]
unempl = unempl[~unempl['Country'].str.endswith('EA19')]
unempl = unempl[~unempl['Country'].str.endswith('EU25')]
unempl = unempl[~unempl['Country'].str.endswith('EU27')]
unempl = unempl[~unempl['Country'].str.endswith('2019')]
unempl = unempl[~unempl['Country'].str.endswith('EU28')]
unempl = unempl[~unempl['Country'].str.endswith('JP')]
unempl = unempl[~unempl['Country'].str.endswith('US')]
unempl

,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1992,1991,1990,1989,1988,1987,1986,1985,1984,1983
78,"TOTAL,PC_ACT,T,AT",4.9,5.5,6.0,5.7,5.6,5.4,4.9,4.6,4.8,...,:,:,:,:,:,:,:,:,:,:
79,"TOTAL,PC_ACT,T,BE",6.0,7.1 b,7.8,8.5,8.5,8.4,7.6,7.2,8.3,...,7.1,6.4,6.6,7.4,8.8,9.8,:,:,:,:
80,"TOTAL,PC_ACT,T,BG",5.2,6.2,7.6,9.2,11.4,13.0,12.3,11.3,10.3 d,...,:,:,:,:,:,:,:,:,:,:
81,"TOTAL,PC_ACT,T,CY",8.4,11.1,13.0,15.0,16.1,15.9,11.9,7.9,6.3,...,:,:,:,:,:,:,:,:,:,:
82,"TOTAL,PC_ACT,T,CZ",2.2,2.9,4.0,5.1,6.1,7.0,7.0,6.7,7.3,...,:,:,:,:,:,:,:,:,:,:
83,"TOTAL,PC_ACT,T,DE",3.4,3.8,4.1,4.6,5.0,5.2,5.4,5.8,7.0,...,6.6,5.5,:,:,:,:,:,:,:,:
84,"TOTAL,PC_ACT,T,DK",5.1,5.8,6.0,6.3,6.9,7.4,7.8,7.8,7.7,...,8.6,7.9,7.2,6.8,5.7,5.0,5.0,6.7,7.9,8.4
88,"TOTAL,PC_ACT,T,EE",5.4,5.8,6.8,6.2,7.4,8.6,10.0,12.3,16.7,...,:,:,:,:,:,:,:,:,:,:
89,"TOTAL,PC_ACT,T,EL",19.3,21.5,23.6,24.9,26.5,27.5,24.5,17.9,12.7,...,:,:,:,:,:,:,:,:,:,:
90,"TOTAL,PC_ACT,T,ES",15.3,17.2,19.6,22.1,24.5,26.1,24.8,21.4,19.9,...,17.0,15.5,15.5,16.5,18.7,19.7,:,:,:,:
95,"TOTAL,PC_ACT,T,FI",7.4,8.6,8.8,9.4,8.7,8.2,7.7,7.8,8.4,...,11.7,6.6,3.2,3.1,4.2,:,:,:,:,:
96,"TOTAL,PC_ACT,T,FR",9.1,9.4,10.1,10.4,10.3,10.3,9.8,9.2,9.3,...,9.0,8.1,7.9,8.1,8.5,8.9,8.9,8.7,8.4,7.3
97,"TOTAL,PC_ACT,T,HR",8.4,11.0,13.4,16.1,17.2,17.4,15.8,13.7,11.8,...,:,:,:,:,:,:,:,:,:,:
98,"TOTAL,PC_ACT,T,HU",3.7,4.2,5.1,6.8,7.7,10.2,11.0,11.0,11.2,...,:,:,:,:,:,:,:,:,:,:
99,"TOTAL,PC_ACT,T,IE",5.8,6.7,8.4,10.0,11.9,13.8,15.5,15.4,14.6,...,15.4,14.7,13.4,14.7,16.2,16.6,16.8,16.8,15.5,13.9
100,"TOTAL,PC_ACT,T,IS",2.7,2.8,3.0,4.0,5.0,5.4,6.0,7.1,7.6,...,:,:,:,:,:,:,:,:,:,:
101,"TOTAL,PC_ACT,T,IT",10.6,11.2,11.7,11.9,12.7,12.1,10.7,8.4,8.4,...,8.8,8.5 p,8.9 p,9.7 p,9.7 p,9.6 p,8.9 p,8.2 p,7.9 p,7.4 p
103,"TOTAL,PC_ACT,T,LT",6.2,7.1,7.9,9.1,10.7,11.8,13.4,15.4,17.8,...,:,:,:,:,:,:,:,:,:,:
104,"TOTAL,PC_ACT,T,LU",5.5,5.6,6.3,6.5,6.0,5.9,5.1,4.8,4.6,...,2.1,1.6,1.7,1.8,2.0,2.5,2.6,2.9,3.0,3.4
105,"TOTAL,PC_ACT,T,LV",7.4,8.7,9.6,9.9,10.8,11.9,15.0,16.2,19.5,...,:,:,:,:,:,:,:,:,:,:
106,"TOTAL,PC_ACT,T,MT",3.7,4.0,4.7,5.4,5.7,6.1,6.2,6.4,6.8,...,:,:,:,:,:,:,:,:,:,:
107,"TOTAL,PC_ACT,T,NL",3.8,4.9,6.0,6.9,7.4,7.3,5.8,5.0,5.0,...,5.7,5.7,6.1,6.7,7.4,7.5,7.6,8.4,9.3,9.5
108,"TOTAL,PC_ACT,T,NO",3.9,4.2,4.8,4.5,3.6,3.8,3.3,3.4,3.7,...,5.9,5.5,5.2,4.9,:,:,:,:,:,:
109,"TOTAL,PC_ACT,T,PL",3.9,4.9,6.2,7.5,9.0,10.3,10.1,9.7,9.7,...,:,:,:,:,:,:,:,:,:,:
110,"TOTAL,PC_ACT,T,PT",7.0,9.0,11.2,12.6,14.1,16.4,15.8,12.9,12.0,...,5.0,5.0,5.6,6.0,6.7,8.0,9.5,9.8,9.6,8.9
111,"TOTAL,PC_ACT,T,RO",4.2,4.9,5.9,6.8,6.8,7.1,6.8,7.2,7.0,...,:,:,:,:,:,:,:,:,:,:
112,"TOTAL,PC_ACT,T,SE",6.3,6.7,6.9,7.4,7.9,8.0,8.0,7.8,8.6,...,5.6,3.1,1.7,1.6,1.8,2.2,2.7,2.9,3.3,3.7
113,"TOTAL,PC_ACT,T,SI",5.1,6.6,8.0,9.0,9.7,10.1,8.9,8.2,7.3,...,:,:,:,:,:,:,:,:,:,:
114,"TOTAL,PC_ACT,T,SK",6.5,8.1,9.7,11.5,13.2,14.2,14.0,13.7 d,14.5,...,:,:,:,:,:,:,:,:,:,:
115,"TOTAL,PC_ACT,T,TR",11.0,10.9,10.9,10.3,9.9,9.0,8.4,9.1,11.1,...,:,:,:,:,:,:,:,:,:,:
116,"TOTAL,PC_ACT,T,UK",4.0,4.3,4.8,5.3,6.1,7.5,7.9,8.1,7.8,...,9.8,8.6,6.9,7.1,8.5,10.3,11.2,11.2,10.9,10.8

In [215]:
unempl['Country'] = unempl['Country'].apply(translate_countries)

In [216]:
unempl.sort_values('Country', inplace=True)
unempl.head()

,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1992,1991,1990,1989,1988,1987,1986,1985,1984,1983
78,Austria,4.9,5.5,6.0,5.7,5.6,5.4,4.9,4.6,4.8,...,:,:,:,:,:,:,:,:,:,:
79,Belgium,6.0,7.1 b,7.8,8.5,8.5,8.4,7.6,7.2,8.3,...,7.1,6.4,6.6,7.4,8.8,9.8,:,:,:,:
80,Bulgaria,5.2,6.2,7.6,9.2,11.4,13.0,12.3,11.3,10.3 d,...,:,:,:,:,:,:,:,:,:,:
97,Croatia,8.4,11.0,13.4,16.1,17.2,17.4,15.8,13.7,11.8,...,:,:,:,:,:,:,:,:,:,:
81,Cyprus,8.4,11.1,13.0,15.0,16.1,15.9,11.9,7.9,6.3,...,:,:,:,:,:,:,:,:,:,:

In [217]:
cols = list(unempl.columns)
cols = [col.replace(' ', '') for col in cols]
unempl.columns = cols

In [218]:
def remove_letters_cast_to_int(item):
#     print(item, type(item))
    if isinstance(item, float):
        return item
    return re.sub('[^\d\.]', '', item)

for col in cols:
    if col != 'Country':
        unempl[col] = unempl[col].apply(remove_letters_cast_to_int)

In [219]:
unempl

,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1992,1991,1990,1989,1988,1987,1986,1985,1984,1983
78,Austria,4.9,5.5,6.0,5.7,5.6,5.4,4.9,4.6,4.8,...,,,,,,,,,,
79,Belgium,6.0,7.1,7.8,8.5,8.5,8.4,7.6,7.2,8.3,...,7.1,6.4,6.6,7.4,8.8,9.8,,,,
80,Bulgaria,5.2,6.2,7.6,9.2,11.4,13.0,12.3,11.3,10.3,...,,,,,,,,,,
97,Croatia,8.4,11.0,13.4,16.1,17.2,17.4,15.8,13.7,11.8,...,,,,,,,,,,
81,Cyprus,8.4,11.1,13.0,15.0,16.1,15.9,11.9,7.9,6.3,...,,,,,,,,,,
82,Czechia,2.2,2.9,4.0,5.1,6.1,7.0,7.0,6.7,7.3,...,,,,,,,,,,
84,Denmark,5.1,5.8,6.0,6.3,6.9,7.4,7.8,7.8,7.7,...,8.6,7.9,7.2,6.8,5.7,5.0,5.0,6.7,7.9,8.4
88,Estonia,5.4,5.8,6.8,6.2,7.4,8.6,10.0,12.3,16.7,...,,,,,,,,,,
95,Finland,7.4,8.6,8.8,9.4,8.7,8.2,7.7,7.8,8.4,...,11.7,6.6,3.2,3.1,4.2,,,,,
96,France,9.1,9.4,10.1,10.4,10.3,10.3,9.8,9.2,9.3,...,9.0,8.1,7.9,8.1,8.5,8.9,8.9,8.7,8.4,7.3
83,Germany,3.4,3.8,4.1,4.6,5.0,5.2,5.4,5.8,7.0,...,6.6,5.5,,,,,,,,
89,Greece,19.3,21.5,23.6,24.9,26.5,27.5,24.5,17.9,12.7,...,,,,,,,,,,
98,Hungary,3.7,4.2,5.1,6.8,7.7,10.2,11.0,11.0,11.2,...,,,,,,,,,,
100,Iceland,2.7,2.8,3.0,4.0,5.0,5.4,6.0,7.1,7.6,...,,,,,,,,,,
99,Ireland,5.8,6.7,8.4,10.0,11.9,13.8,15.5,15.4,14.6,...,15.4,14.7,13.4,14.7,16.2,16.6,16.8,16.8,15.5,13.9
101,Italy,10.6,11.2,11.7,11.9,12.7,12.1,10.7,8.4,8.4,...,8.8,8.5,8.9,9.7,9.7,9.6,8.9,8.2,7.9,7.4
103,Latvia,6.2,7.1,7.9,9.1,10.7,11.8,13.4,15.4,17.8,...,,,,,,,,,,
105,Latvia,7.4,8.7,9.6,9.9,10.8,11.9,15.0,16.2,19.5,...,,,,,,,,,,
104,Luxembourg,5.5,5.6,6.3,6.5,6.0,5.9,5.1,4.8,4.6,...,2.1,1.6,1.7,1.8,2.0,2.5,2.6,2.9,3.0,3.4
106,Malta,3.7,4.0,4.7,5.4,5.7,6.1,6.2,6.4,6.8,...,,,,,,,,,,
107,Netherlands,3.8,4.9,6.0,6.9,7.4,7.3,5.8,5.0,5.0,...,5.7,5.7,6.1,6.7,7.4,7.5,7.6,8.4,9.3,9.5
108,Norway,3.9,4.2,4.8,4.5,3.6,3.8,3.3,3.4,3.7,...,5.9,5.5,5.2,4.9,,,,,,
109,Poland,3.9,4.9,6.2,7.5,9.0,10.3,10.1,9.7,9.7,...,,,,,,,,,,
110,Portugal,7.0,9.0,11.2,12.6,14.1,16.4,15.8,12.9,12.0,...,5.0,5.0,5.6,6.0,6.7,8.0,9.5,9.8,9.6,8.9
111,Romania,4.2,4.9,5.9,6.8,6.8,7.1,6.8,7.2,7.0,...,,,,,,,,,,
114,Slovakia,6.5,8.1,9.7,11.5,13.2,14.2,14.0,13.7,14.5,...,,,,,,,,,,
113,Slovenia,5.1,6.6,8.0,9.0,9.7,10.1,8.9,8.2,7.3,...,,,,,,,,,,
90,Spain,15.3,17.2,19.6,22.1,24.5,26.1,24.8,21.4,19.9,...,17.0,15.5,15.5,16.5,18.7,19.7,,,,
112,Sweden,6.3,6.7,6.9,7.4,7.9,8.0,8.0,7.8,8.6,...,5.6,3.1,1.7,1.6,1.8,2.2,2.7,2.9,3.3,3.7
115,Turkey,11.0,10.9,10.9,10.3,9.9,9.0,8.4,9.1,11.1,...,,,,,,,,,,
116,United Kingdom,4.0,4.3,4.8,5.3,6.1,7.5,7.9,8.1,7.8,...,9.8,8.6,6.9,7.1,8.5,10.3,11.2,11.2,10.9,10.8

In [235]:
unempl.loc[:, '2018':'2000']

,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
78,4.9,5.5,6.0,5.7,5.6,5.4,4.9,4.6,4.8,5.3,4.1,4.9,5.3,5.6,5.5,4.8,4.4,4.0,3.9
79,6.0,7.1,7.8,8.5,8.5,8.4,7.6,7.2,8.3,7.9,7.0,7.5,8.3,8.5,8.4,8.2,7.5,6.6,6.9
80,5.2,6.2,7.6,9.2,11.4,13.0,12.3,11.3,10.3,6.8,5.6,6.9,9.0,10.1,12.1,13.7,18.2,19.6,16.4
97,8.4,11.0,13.4,16.1,17.2,17.4,15.8,13.7,11.8,9.3,8.6,9.9,11.6,13.0,13.8,14.1,15.3,16.0,15.6
81,8.4,11.1,13.0,15.0,16.1,15.9,11.9,7.9,6.3,5.4,3.7,3.9,4.6,5.3,4.6,4.1,3.5,3.9,4.8
82,2.2,2.9,4.0,5.1,6.1,7.0,7.0,6.7,7.3,6.7,4.4,5.3,7.1,7.9,8.3,7.8,7.3,8.1,8.8
84,5.1,5.8,6.0,6.3,6.9,7.4,7.8,7.8,7.7,6.4,3.7,3.8,3.9,4.8,5.5,5.4,4.6,4.5,4.3
88,5.4,5.8,6.8,6.2,7.4,8.6,10.0,12.3,16.7,13.5,5.5,4.6,5.9,8.0,10.1,10.3,11.2,13.0,14.6
95,7.4,8.6,8.8,9.4,8.7,8.2,7.7,7.8,8.4,8.2,6.4,6.9,7.7,8.4,8.8,9.0,9.1,9.1,9.8
96,9.1,9.4,10.1,10.4,10.3,10.3,9.8,9.2,9.3,9.1,7.4,8.0,8.8,8.9,8.9,8.5,7.9,7.8,8.6
83,3.4,3.8,4.1,4.6,5.0,5.2,5.4,5.8,7.0,7.6,7.4,8.5,10.1,11.2,10.4,9.7,8.6,7.8,7.9
89,19.3,21.5,23.6,24.9,26.5,27.5,24.5,17.9,12.7,9.6,7.8,8.4,9.0,10.0,10.6,9.7,10.3,10.7,11.2
98,3.7,4.2,5.1,6.8,7.7,10.2,11.0,11.0,11.2,10.0,7.8,7.4,7.5,7.2,6.1,5.8,5.6,5.6,6.3
100,2.7,2.8,3.0,4.0,5.0,5.4,6.0,7.1,7.6,7.2,3.0,2.3,2.9,2.6,3.1,3.3,,,
99,5.8,6.7,8.4,10.0,11.9,13.8,15.5,15.4,14.6,12.6,6.8,5.0,4.8,4.6,4.7,4.8,4.7,4.2,4.5
101,10.6,11.2,11.7,11.9,12.7,12.1,10.7,8.4,8.4,7.7,6.7,6.1,6.8,7.7,8.0,8.4,8.5,9.0,10.0
103,6.2,7.1,7.9,9.1,10.7,11.8,13.4,15.4,17.8,13.8,5.8,4.3,5.8,8.3,10.9,12.4,13.8,17.4,16.4
105,7.4,8.7,9.6,9.9,10.8,11.9,15.0,16.2,19.5,17.5,7.7,6.1,7.0,10.0,11.7,11.6,12.5,13.5,14.3
104,5.5,5.6,6.3,6.5,6.0,5.9,5.1,4.8,4.6,5.1,4.9,4.2,4.6,4.6,5.0,3.8,2.6,1.9,2.2
106,3.7,4.0,4.7,5.4,5.7,6.1,6.2,6.4,6.8,6.9,6.0,6.5,6.8,6.9,7.2,7.6,7.0,7.6,6.7
107,3.8,4.9,6.0,6.9,7.4,7.3,5.8,5.0,5.0,4.4,3.7,4.2,5.0,5.9,5.7,4.8,3.7,3.1,3.7
108,3.9,4.2,4.8,4.5,3.6,3.8,3.3,3.4,3.7,3.3,2.7,2.5,3.4,4.5,4.3,4.2,3.7,3.4,3.2
109,3.9,4.9,6.2,7.5,9.0,10.3,10.1,9.7,9.7,8.1,7.1,9.6,13.9,17.9,19.1,19.8,20.0,18.3,16.1
110,7.0,9.0,11.2,12.6,14.1,16.4,15.8,12.9,12.0,10.7,8.8,9.1,8.9,8.8,7.8,7.4,6.2,5.1,5.1
111,4.2,4.9,5.9,6.8,6.8,7.1,6.8,7.2,7.0,6.5,5.6,6.4,7.2,7.1,8.0,7.7,8.3,7.4,7.6
114,6.5,8.1,9.7,11.5,13.2,14.2,14.0,13.7,14.5,12.1,9.6,11.2,13.5,16.4,18.4,17.7,18.8,19.5,18.9
113,5.1,6.6,8.0,9.0,9.7,10.1,8.9,8.2,7.3,5.9,4.4,4.9,6.0,6.5,6.3,6.7,6.3,6.2,6.7
90,15.3,17.2,19.6,22.1,24.5,26.1,24.8,21.4,19.9,17.9,11.3,8.2,8.5,9.2,11.0,11.5,11.5,10.6,11.9
112,6.3,6.7,6.9,7.4,7.9,8.0,8.0,7.8,8.6,8.3,6.2,6.1,7.1,7.7,7.4,6.6,6.0,5.8,5.6
115,11.0,10.9,10.9,10.3,9.9,9.0,8.4,9.1,11.1,13.0,10.0,9.1,9.0,9.5,,,,,
116,4.0,4.3,4.8,5.3,6.1,7.5,7.9,8.1,7.8,7.6,5.6,5.3,5.4,4.8,4.7,5.0,5.1,5.0,5.4

# coefficients

In [236]:
countries = list(dict_countries.values())
countries.sort()
countries

['Albania',
 'Austria',
 'Belgium',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Latvia',
 'Latvia',
 'Liechtenstein',
 'Luxembourg',
 'Malta',
 'Montenegro',
 'Netherlands',
 'North Macedonia',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'United Kingdom']

In [240]:
print('GDP')
for c in countries:
    print(c)
    cGdp = gdp.loc[gdp['Country'] == c]
    cMig = migr.loc[migr['Country'] == c]
    
    xtrain = []
    ytrain = []
    
    for i in range(2000, 2018):
        print(cGdp.iloc[0][str(i)])
#         xtrain.append(cGdp.iloc[0][str(i)])
#         ytrain.append(cMig.iloc[0][str(i)])
    
#     gdp2007 = cGdp.iloc[0]['2007']
#     gdp2011 = cGdp.iloc[0]['2011']
#     gdp2016 = cGdp.iloc[0]['2016']
#     migr2005 = cMig.iloc[0]['2005']
#     migr2010 = cMig.iloc[0]['2010']
#     migr2015 = cMig.iloc[0]['2015']
    
#     xtrain = np.array([migr2005, migr2010, migr2015]).reshape(-1, 1)
#     ytrain = np.array([gdp2007, gdp2011, gdp2016]).reshape(-1, 1)
    
#     regr = linear_model.LinearRegression()
#     regr.fit(xtrain, ytrain)
#     coef = regr.coef_
#     print(c, ':', coef)

GDP
Albania
1700
1850
1940
2060
2180
2310
2460
2630
2850
2960
3090
3180
3230
3260
3330
3410
3530
3670
Austria
31710
31990
32360
32520
33200
33710
34700
35870
36280
34830
35390
36300
36390
36180
36130
36140
36430
37090
Belgium
29890
30110
30490
30680
31640
32200
32800
33760
33640
32700
33330
33590
33610
33590
33960
34470
34810
35330
Bosnia and Herzegovina

IndexError: single positional indexer is out-of-bounds